.container{ style: "text-align: center; padding: 25px;" }
  %h1 New Form Submission:
  %p= "Name: #{@data[:full_name]}"
  %p= "Email: #{@data[:email]}"
  %p= "Phone: #{@data[:phone]}"
  %p= "Message: #{@data[:message]}"
